.navbar{
  
   
    height:100vh;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}
.navbaritemcontainer{
    padding: 16px 20px 0px 30px;
    background-color: #fff;
    position: fixed;
    height: 100vh;

}
.navbaritem{
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
text-align: center;
gap: 6px;
padding: 13px 0px;
cursor: pointer;
border: 1px solid transparent;

}
.navbaritem span {
    font-size: 12px;
    color: #1C4980;
    font-weight: 500;
    background-color: #fff;
    max-width:80%;

  }

.adminspan{
    padding: 2px 8px;
    border-radius: 22px;
    background-color: #FBEBEA;
    color:#D63500 !important;
    font-size: 10px !important;
    border: 1.5px solid #D63500;
    margin-top: 10px;
}
.navbaritemcontainer :nth-child(4) {
padding-top: 20px;
}

.navbaritem:hover{
    background-color:#E5F1FC;
    border-radius: 8px;
    border: 1px solid #0073E6;
}
.navbaritem:hover span{
 color:#0073E6;
 background-color:#E5F1FC;

}
.navbaritem:hover img{
    color:#0073E6;
   }
   .activeNav{
    background-color:#E5F1FC;
    border-radius: 8px;
    border: 1px solid #0073E6;
    
   }
   .activeNav span{
    color:#0073E6;
    background-color:#E5F1FC;
   }
   .menuMob {
    width: 80%;
    height: 100vh;
    background-color: #F2F8FE;
    animation: menuMobSlide 0.5s ease ; /* Add a delay of 0.2s to the animation */
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  
  .showMobMenu {
    transform: translateX(0);
    transition: transform 0.5s;
  }
  
  @keyframes menuMobSlide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100px);
    }
  }
  .mobnavbr{
    position: absolute;
    width: 100%;
    height: 100vh;
  
  }

.hamburgerimg {
  padding: 10px 20px;
}
@keyframes menuMobSlide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.menuMobClose{
    animation: menumobslideout 0.5s ease
 }
@keyframes menumobslideout {
    100%{
        transform: translateX(-100%);
    }
  
}

.menuMobshowhead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: baseline;
}
.menuMobshowhead > span {
  font-size: 14px;
  font-family: Inter;
  color: #1C4980;
  font-weight: 500;
  padding-left: 40px;
}
.menuMobshowhead > img {
  cursor: pointer;
  padding-right: 30px;
  padding: 20px 30px 0px 0px;
}

@media screen and (max-width: 768px){
  .navbar{
    background-color: #F2F8FE;
  }
  .navbaritemcontainer{
    background-color: #F2F8FE;
  }
  .navbaritem{
    background-color: #F2F8FE;
    flex-direction: row;
    padding: 10px;
  }
  .navbaritem span{
background-color: #F2F8FE;
  }
  .navbaritemcontainer{
    padding: 16px 20px 0px 30px;
  
  }
  .activeNav{
    background-color: #E5F1FC;
  }
  .activeNav span{
    background-color: #E5F1FC;
  }
}